@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --black-color: #101117;
    --white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to right,
            #fbfaff 0%,
            40.00000059604645%,
            #fbfaff 80.0000011920929%,
            90.00000059604645%,
            #ecf0fb 100%);
    color: var(--black-color);
    font-size: 16px;
    line-height: 1.3;
}

.dynamic_banner {
    padding: 100px 20px 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dynamic_banner .top-desc h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
}

.dynamic_banner .top-desc h6 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}

.dynamic_banner .top-desc span {
    display: inline-block;
    width: 20px;
    height: 3px;
    background: var(--black-color);
    border-radius: 50px;
}

.dynamic_banner .bottom-desc {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.dynamic_banner .bottom-desc .left-desc h1 {
    margin-bottom: 20px;
}

.dynamic_banner .bottom-desc .left-desc .desc-inner h5 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
}

.dynamic_banner .bottom-desc .left-desc .desc-inner h6 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}

.dynamic_banner .bottom-desc .middle-desc h2 {
    text-transform: uppercase;
    letter-spacing: -2px;
}

.dynamic_banner .bottom-desc .right-desc h1 {
    margin-bottom: 20px;
    padding-right: 60px;
    position: relative;
    text-align: right;
}

.dynamic_banner .bottom-desc .right-desc h1::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 20%;
    height: 6px;
    background: var(--black-color);
    transform: translate(-30%, 100%);
}

.dynamic_banner .bottom-desc .right-desc .desc-inner {
    display: flex;
    gap: 30px;
    align-items: center;
}

.dynamic_banner .bottom-desc .right-desc .desc-inner span {
    text-transform: uppercase;
}

.dynamic_banner .bottom-desc .right-desc .desc-inner ul {
    display: flex;
    gap: 8px;
}

.dynamic_banner .bottom-desc .right-desc .desc-inner ul li img {
    width: 16px;
}

.dynamic_banner .bottom-desc .right-desc .desc-inner ul li i {
    font-size: 16px;
}

/* Responsive Styles */
@media (max-width: 1199px) {
    .dynamic_banner .bottom-desc .right-desc h1 {
        padding-right: 40px;
    }

    .dynamic_banner .bottom-desc .right-desc h1::after {
        width: 16%;
    }

    .dynamic_banner .bottom-desc .right-desc .desc-inner {
        gap: 20px;
    }
}

@media (max-width: 991px) {
    .dynamic_banner .bottom-desc .right-desc h1 {
        padding-right: 30px;
    }

    .dynamic_banner .bottom-desc .right-desc h1::after {
        width: 12%;
    }

    .dynamic_banner .bottom-desc .right-desc .desc-inner {
        gap: 16px;
    }
}

@media (max-width: 767px) {
    .dynamic_banner {
        padding-top: 60px;
    }

    .dynamic_banner .bottom-desc .left-desc h1 {
        margin-bottom: 14px;
    }

    .dynamic_banner .bottom-desc .middle-desc {
        display: none;
    }

    .dynamic_banner .bottom-desc .right-desc h1 {
        padding-right: 22px;
    }

    .dynamic_banner .bottom-desc .right-desc h1::after {
        width: 10%;
    }

    .dynamic_banner .bottom-desc .right-desc .desc-inner {
        gap: 12px;
    }

    .dynamic_banner .bottom-desc .right-desc .desc-inner ul {
        gap: 4px;
    }

    .dynamic_banner .bottom-desc .right-desc .desc-inner ul li img {
        width: 14px;
    }
}